{% load static %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
</head>

<body>
    <div id="header-container">
    <header>
        <a href="{% url 'home' %}" id="home-button">
            <span class="dot"></span>
            <img id="logo-layer-1" src="{% static 'images/Logo v3 Layer 1_.png' %}">
            <img id="logo-layer-2" src="{% static 'images/Logo v3 Layer 2_.png' %}">
            <img id="logo-layer-3" src="{% static 'images/Logo v3 Text_.png' %}">
        </a>

        <div id='navbar'>
            <div id="line"></div>
            <a href="/physics">Physics</a>
            <a href="/math">Math</a>
            <a href="/programming" >Programming</a>
            <a href="/about">  About</a>
        </div>
        <div id='searchbar'>
            <input type="text" placeholder="Search for a topic, keyword, etc">
        </div>
    </header>
    </div>

    {% block content %}
    {% endblock content %}
    
</body>

<script src="{% static 'js/rotate.js' %}"></script>
</html>