/************************* Styling posts ***************************/
#title, #hook{
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;

}

#title{
	font-weight: 550;
}

#hook{
	width: 60%;
	margin: 0 auto;
	color: #003366;
	/*font-size: 1em;*/
}

#text{
	width: 70%;
	margin: 0 auto;

	font-size: 1.11em;
	line-height: 160%;
	font-family: 'Lora', serif;
	text-align: justify;
}

#_progress {
	--scroll: 0%;
	background: linear-gradient(to right,rgb(225,141,188) var(--scroll),transparent 0);
	position: fixed;
	width: 100%;
	height: 12px;
	top:0px;
	z-index: 100;
}	


/******************* Media Queries for Larger Screens *****************/
/*Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Medium-Large devices (Smaller desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* Most desktops should be larger than this.**/ 
/*Large devices (Desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

@media (min-width: 1380px) {
}

