body{
	background: #fcfcf3;
}

/* Setting the Navbar color*/
.navbar-custom{
	background-color: #261f1d;
}

/* Allowing the Navbar to slide up and down*/
.navbar {
    transition: top 0.5s ease;
}
.navbar-hide {
    top: -70px;
}


/* Sizing the Navbar for phone screens*/
	.brand{
		width: 100%;
	}
	.navbar-brand{
		padding: 0;
		margin-top: 5px;
	}
	/* The logo height. This is scaled up for larger screens*/
	#logo{
		width: 200px;
	}

	.navbar-nav{
		margin: 0 auto;
	}


/* Styling the navbar links*/
.navbar-nav a{
	width: 50%;
	margin: 0 auto;

	text-align: center;
	font-size: 1.2em;
	font-family: 'Sawarabi Gothic', sans-serif;
	color: white;
}

/* All of this for the highlighted-hover animation on the links*/
/* It also makes them highlighted when they are active */
	.hvr-shutter-out-vertical{
		background: none;
	}

	.hvr-shutter-out-vertical:before, .active{
		border-radius: 3px;
	}
	#ho.hvr-shutter-out-vertical:before, #ho.active{
		background: #65b7b1;
	}
	#ph.hvr-shutter-out-vertical:before, #ph.active{
		background: #68a78d;
	}
	#ma.hvr-shutter-out-vertical:before, #ma.active{
		background: #d2b089;
	}
	#pr.hvr-shutter-out-vertical:before, #pr.active{
		background: #34a1d5;
	}
	#ab.hvr-shutter-out-vertical:before, #ab.active{
		background: #b77d5c;
	}

.active{
	text-decoration: bold;
}

.no-border{
    border: 0;
    outline: 0;
    border-radius: 0;	
}

.form-control{
    border-bottom: 1px solid #fffff7;
    font-family: 'Sawarabi Gothic', sans-serif;
}

/******************** Homepage **********************/

#featured-article{
	position: relative;
	width: 100%;
	height: auto;
	overflow:hidden;	
}

.img-fluid{
	width: 100%;
	max-width: 1200px;
}

.text-overlay{
	position:absolute;
	top:0;
	left: 25%;

	background-color: rgba(0, 0, 0,0.5);
	margin: 0 auto;

	text-align: left;
	text-decoration: none;
	font-size: 1.8em;
	font-family: 'Sawarabi Mincho', serif;
	color: white;
}

#main-article-link:hover{
	text-decoration: none;
}


/************************* Styling posts ***************************/
#title, #hook{
	text-align: center;
	font-family: 'Sawarabi Gothic', sans-serif;
}

#hook{
	width:60%;
	margin: 0 auto;
	color: #003366;
}

#text{
	width: 90%;
	margin: 0 auto;

	font-size: 18px;
	line-height: 150%;
	font-family: 'Zilla Slab', serif;	
	text-align: justify;
}


/******************* Media Queries for Larger Screens *****************/
/*Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.navbar-brand{
		padding: 0;
		margin-top: 5px;
	}

	#logo{
		height: 60px;
		width: auto;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

	/* Increase the size of the logo*/
	#logo{
		height:70px;
	}

	/* Make the Navbar go up higher to compensate for its increased size*/
	.navbar-hide {
	    top: -90px;
	}
}

/*Medium-Large devices (Smaller desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* Most desktops should be larger than this.**/ 
/*Large devices (Desktops, 1200px and up)*/
@media (min-width: 1200px) {

	/*We don't need the logo to take up the full width anymore*/
	.brand{
		width: auto;
	}

	/* Make the Navbar only take up part of the space*/
	.navbar-custom{
		width: 90%;
		margin: 0 auto;
		padding-top: 5px;
		border-radius: 0px 0px 10px 10px
	}

	/* Have the navbar links take up the remaining space*/
	.navbar-nav{
		margin: 0 1.2em;
	}
	.nav-item.nav-link{
		padding: 0.5em 0.5em !important;
		margin: 0 0.25em;
	}

	/* Center the image and shrink it from 100% */
	/* Also detach it from the navbar */
	#featured-article{
		margin: 0 auto;
		max-height: 600px;
		width: 90%;
		overflow:hidden;	
		
		margin-top: 5px;
		border-radius: 10px;

		position: relative;
		z-index: 1;
	}

	.img-fluid{
		max-width: 5000px
	}
}

@media (min-width: 1380px) {
	.navbar-nav{
		margin: 0 2em;
	}

	.nav-item.nav-link{
		padding: 0.5em 1em !important;
		margin: 0 0.5em;
	}
}

