body{
	background: #fcfcf3;
	/*background: #1E1817;*/
}

/* Setting the Navbar color*/
.navbar-custom{
	background-color: #261f1d;
}

/* Styling the logo font*/
.navbar-brand{
	color: white;
	font-family: 'Zilla Slab', serif;
	font-size: 1.3em;
	text-decoration: none;
	padding: 0.5em 0.5em;

}
.navbar-custom{
	padding: 0 ;
}

#logo{
	/* The logo size. This is scaled up for larger screens*/
	width: 50px;
	padding-right: 0.5em;
}


/*** Styling the navbar links across the top of the page ***/
.navbar-nav{
	margin: 0 1.2em;
}

.nav-item.nav-link{
	width: 100%;
	margin: 0 auto;

	text-align: center;
	font-size: 1em;
	font-family: 'Sawarabi Gothic', sans-serif;
	color: white !important;
	padding: 0.5em 0.5em !important;
	margin: 0 0.25em;
}

.search{
	font-size: 0.7em;
}

/* All of this for the highlighted-hover animation on the links*/
/* It also makes them highlighted when they are active */
	.hvr-shutter-out-vertical{
		background: none;
	}

	.hvr-shutter-out-vertical:before, .active{
		border-radius: 3px;
	}
	#ho.hvr-shutter-out-vertical:before, #ho.active{
		background: #65b7b1;
	}
	#ph.hvr-shutter-out-vertical:before, #ph.active{
		background: #68a78d;
	}
	#ma.hvr-shutter-out-vertical:before, #ma.active{
		background: #d2b089;
	}
	#pr.hvr-shutter-out-vertical:before, #pr.active{
		background: #34a1d5;
	}
	#ab.hvr-shutter-out-vertical:before, #ab.active{
		background: #b77d5c;
	}

/* The progress bar */
#_progress {
	/*position: absolute;*/
	bottom: 0;
}	

/*************** Allowing the Navbar to slide up and down***************/
.navbar {
    transition: top 0.5s ease;
}
.navbar-hide {
    top: -70px;
}

/******************* Media Queries for Larger Screens *****************/
/*Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.navbar-custom{
		padding: 0 ;
	}
	.navbar-brand{
		padding: 0.5em 1em;
	}

	.navbar-brand span{
		font-size: 1.3em;
	}

	#logo{
		height: 55px;
		width: auto;
		padding-right: 0.8em;
	}


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

	/* Increase the size of the logo*/
	#logo{
		height: 60px;
		width: auto;
	}

	.navbar-brand span{
		font-size: 1.4em;
	}

	/* Make the Navbar go up higher to compensate for its increased size*/
	.navbar-hide {
	    top: -90px;
	}
}

/*Medium-Large devices (Smaller desktops, 992px and up)*/
@media (min-width: 992px) {
	/* Increase the size of the logo*/
	#logo{
		height: 90px;
		width: auto;
	}

	.navbar-brand span{
		font-size: 2em;
	}
}

/* Most desktops should be larger than this.**/ 
/*Large devices (Desktops, 1200px and up)*/
@media (min-width: 1200px) {

	/* Make the Navbar only take up part of the space*/
	.navbar-custom{
		margin: 0 auto;
		padding: 0.5em 0;
	}

	/* Increase the size of the logo*/
	#logo{
		height: 60px;
		width: auto;
	}

	.navbar-brand span{
		font-size: 1.6em;
	}

}

@media (min-width: 1380px) {
	.navbar-nav{
		margin: 0 4em;
	}

	.navbar-brand span{
		font-size: 1.4em;
		vertical-align: middle;

	}

	.nav-item.nav-link{
		font-size:1.2em;
		padding: 0.5em 1em !important;
		margin: 0 0.5em;
	}
}

