body{
    padding: 0;
    margin: 0;
    background: #fffff7;
}

a{ text-decoration: none; }

/*****************Styling the header bar******************/
#header-container{
	position: fixed;

	background: #171009;
	height: 95px;
	width: 100%;
	top: 0;
	margin-top: 0;

	/*** For sliding up ***/
	max-height: 500px;
	transition-property: all;
	transition-duration: .7s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

header{
	position: absolute;
    display: flex;
    flex-direction: row;

    height: 100px;
    width: 90%;
    margin: 0  auto;	

    background: transparent;
    z-index: 1;
}

#home-button {
    height: 100%;
    width: 30%;
    position: relative;

    align-items: center;
    justify-content: center;
}

.dot {
	position: absolute;
	top: 11px;
	left: 19.5px;

	height: 115px;
	width:  125px;
	background-color: #171009;
	border-radius: 50%;
	display: inline-block;
	z-index: -1
}

#logo-layer-1, #logo-layer-2{
	position: absolute;
	height: 100px;
	top: 13px;
	left: 31.5px;
}

/*#logo-layer-1{
	animation:rotate 3s  infinite;
	animation-timing-function: cubic-bezier(1,0,.5,1);
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg) } 
    to { -webkit-transform: rotate(360deg) } 
}*/

#logo-layer-2{
	transform: scale(.8);
}

#logo-layer-3{
	position: absolute;
	height: 100px;
	top: 5px;
	left: 160px;
}

#navbar{
	display: flex;
	justify-content: center;
	align-items: center; 

    width: 45%;

    font-family: 'Sawarabi Gothic', sans-serif;
    padding-right: 20px;
}

#line{
  border-left: 1px solid #fffff7;
  padding-right: 20px;
  height: 50%;
}

#navbar a{
    width: 25%;
    margin: 0 10px;

    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #fffff7;
}

#navbar a:hover{
	padding-bottom:10px ;
    border-bottom: 2px solid #fffff7;
}

#searchbar{
    width: 20%;
    float: right;

    display: flex;
    justify-content:center;
    align-items: center;

    font-family: 'Sawarabi Gothic', sans-serif;
    color: #fffff7;
}

#searchbar input{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #fffff7;
    background-color: transparent;
}

/************************************************ Styling post previews ***************************************************/

#main{
	display: flex;
	flex-direction: row;

	width: 75%;
	height: 500px;
	margin: 170px  auto;

	background: navy;
}

#left-box{
	background: crimson;
	height: 100%;
	width: 65%;
}

#right-box{
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 35%;
}

#right-top-box{
	background: navy;
	height: 50%;
	width: 100%;
}

#right-bottom-box{
	background: green;
	height: 50%;
	width: 100%;
}

/************************************************ Styling post previews ***************************************************/
#article #title{
	padding-top: 130px;
}

#article #title, #subtitle{
	text-align: center;
	font-family: 'Sawarabi Gothic', sans-serif;
}

#article #text{
	width: 65%;
	margin: 0 auto;

	font-size: 18px;
	line-height: 150%;
	font-family: 'Zilla Slab', serif;
	text-align: justify;
}
