{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- For the search icon -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">

    <!-- Hover effects -->
    <link href="{% static 'css/hover-min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  </head>

  <body>

    <nav class="navbar navbar-expand-xl navbar-custom sticky-top pt-2">
        <div class="d-flex flex-nowrap pb-2 brand">
            <a class="navbar-brand" href="/"><img id="logo" src="{% static 'images/Logo v6.png' %}"></a>

            <button class="navbar-toggler navbar-dark ml-auto" type="button" data-toggle="collapse" data-target="#navbar-items" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navbar-items">
            <div class="navbar-nav">
                <a id="ho" class="nav-item nav-link hvr-shutter-out-vertical active" href="/">Home</a>
                <a id="ph" class="nav-item nav-link hvr-shutter-out-vertical " href="#">Physics</a>
                <a id="ma" class="nav-item nav-link hvr-shutter-out-vertical " href="#">Math</a>
                <a id="pr" class="nav-item nav-link hvr-shutter-out-vertical " href="#">Programming</a>
                <a id="ab" class="nav-item nav-link hvr-shutter-out-vertical " href="#">About</a>
            </div>

            <div class="row justify-content-center">
                <form class="form-inline my-lg-0 ">
                    <input class="form-control bg-transparent no-border" type="search" placeholder="Search posts" aria-label="Search">
                </form>
                <button class="btn btn-outline-secondary no-border" type="button"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src= "{% static 'js/navbar-dropup.js' %}"></script>
  </body>
</html>