{% extends "base.html" %} 
{% block content %}

<a id="featured-article-link" href="articles/test-article">
    <div id="featured-article" class="thumbnail">
        <img class="img-fluid" src="static/images/The Fair.jpg">
        <div class="text-overlay caption">
        	<span id="title"> A  Non-standard Approach to Differential Geometry</span><br>
        	<span id="subtitle">Taking an atypical path through differential geometry with a proper treatment of infinitesimals</span>
    	</div>
    </div>

</a> 
{% endblock %}